package server

import (
	ext "github.com/ncobase/ncore/extension/types"
)

// registerExtensions registers all extensions with the manager
func registerExtensions(em ext.ManagerInterface) {
	// Register your extensions here
	// Example:
	// em.Register(myext.New())
}
