package middleware

import (
	"github.com/gin-gonic/gin"
	"github.com/ncobase/ncore/ctxutil"
)

// ClientInfo middleware extracts and sets client information to context
func ClientInfo(c *gin.Context) {
	// Get context
	ctx := c.Request.Context()
	if _, ok := ctxutil.GetGinContext(ctx); !ok {
		ctx = ctxutil.WithGinContext(ctx, c)
	}

	// Extract and set client information
	ctx = ctxutil.SetClientInfo(ctx,
		extractClientIP(c),
		extractUserAgent(c),
		extractSessionID(c),
	)

	// Set HTTP request for direct access
	ctx = ctxutil.SetHTTPRequest(ctx, c.Request)

	// Update request context
	c.Request = c.Request.WithContext(ctx)

	c.Next()
}

