package middleware

import (
	"net/http"
	"strconv"
	"strings"

	"github.com/gin-gonic/gin"
	"github.com/ncobase/ncore/config"
)

// CORSConfig defines the config for CORS middleware
type CORSConfig struct {
	AllowOrigins     []string
	AllowMethods     []string
	AllowHeaders     []string
	AllowCredentials bool
	ExposeHeaders    []string
	MaxAge           int
}

// GetCORSConfig returns the CORS configuration based on the environment
func GetCORSConfig(conf *config.Config) CORSConfig {
	corsConfig := CORSConfig{
		AllowMethods:     []string{"GET", "POST", "PUT", "PATCH", "DELETE", "HEAD", "OPTIONS"},
		AllowHeaders:     []string{"Origin", "Content-Length", "Content-Type", "Authorization", "X-Requested-With", "X-Session-ID", "X-API-Key"},
		AllowCredentials: true,
		ExposeHeaders:    []string{"Content-Length", "Authorization"},
		MaxAge:           12 * 60 * 60, // 12 hours
	}

	if conf.IsProd() {
		corsConfig.AllowOrigins = []string{}
		if conf.Domain == "" {
			// Add your production domains here
			// corsConfig.AllowOrigins = []string{"https://example.com"}
		}
	} else {
		corsConfig.AllowOrigins = []string{
			"http://localhost:3000",
			"http://localhost:8080",
			"http://127.0.0.1:3000",
			"http://127.0.0.1:8080",
		}
	}

	return corsConfig
}

// CORSHandler is a middleware for handling CORS
func CORSHandler(conf *config.Config) gin.HandlerFunc {
	corsConfig := GetCORSConfig(conf)

	return func(c *gin.Context) {
		origin := c.Request.Header.Get("Origin")

		if isOriginAllowed(origin, corsConfig.AllowOrigins) {
			c.Writer.Header().Set("Access-Control-Allow-Origin", origin)
		}

		c.Writer.Header().Set("Access-Control-Allow-Methods", strings.Join(corsConfig.AllowMethods, ","))
		c.Writer.Header().Set("Access-Control-Allow-Headers", strings.Join(corsConfig.AllowHeaders, ","))
		c.Writer.Header().Set("Access-Control-Allow-Credentials", strconv.FormatBool(corsConfig.AllowCredentials))
		c.Writer.Header().Set("Access-Control-Expose-Headers", strings.Join(corsConfig.ExposeHeaders, ","))
		c.Writer.Header().Set("Access-Control-Max-Age", strconv.Itoa(corsConfig.MaxAge))

		if c.Request.Method == http.MethodOptions {
			c.AbortWithStatus(http.StatusNoContent)
			return
		}

		c.Next()
	}
}

// isOriginAllowed checks if the origin is allowed in the list of allowed origins
func isOriginAllowed(origin string, allowedOrigins []string) bool {
	for _, allowed := range allowedOrigins {
		if allowed == "*" || allowed == origin {
			return true
		}
		if strings.HasSuffix(allowed, ":*") {
			prefix := strings.TrimSuffix(allowed, ":*")
			if strings.HasPrefix(origin, prefix) {
				return true
			}
		}
	}
	return false
}
