package config

import (
	nconfig "github.com/ncobase/ncore/config"
)

// Config aliases
type (
	Config = nconfig.Config
	Server = nconfig.Server
	Data   = nconfig.Data
)

// Load loads configuration from file
func Load(path string) (*Config, error) {
	return nconfig.Load(path)
}

// IsProd returns true if the current environment is production
func IsProd(c *Config) bool {
	if c == nil {
		return false
	}
	return c.IsProd()
}

// IsDev returns true if the current environment is development
func IsDev(c *Config) bool {
	if c == nil {
		return true
	}
	return !c.IsProd()
}
