package service

import (
	"context"

	"{{ .PackagePath }}/data/model"
	"{{ .PackagePath }}/data/repository"
)

// Interface defines the service interface
type Interface interface {
	// GetExample returns the generated example resource.
	GetExample(ctx context.Context) (*model.ExampleResponse, error)

	// Cleanup
	Close() error
}

// service implements the Interface
type service struct {
	repo repository.Interface
}

// New creates a new service instance
func New(repo repository.Interface) Interface {
	return &service{
		repo: repo,
	}
}
