package service

import (
	"context"

	"{{ .PackagePath }}/data/model"
)

// Close performs cleanup operations for the service
func (s *service) Close() error {
	return nil
}

// GetExample returns the generated example resource.
func (s *service) GetExample(ctx context.Context) (*model.ExampleResponse, error) {
	example, err := s.repo.FindExample(ctx, "example")
	if err != nil {
		return nil, err
	}

	return &model.ExampleResponse{
		ID:   example.ID,
		Name: example.Name,
	}, nil
}
